#signup-fom{
    width: 600px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 130;
    padding: 0 50px;
    background-color: #3b4652;
    opacity: .85;
    box-shadow: 0px 0px 30x #848484;
}

@import url(//fonts.googleapis.com/css?family=roboto);
body{
    font-family: 'roboto', sans-serif;
}
.a{
    font-family: 'roboto', sans-serif;
}

#signup-fs{
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0.4);
    box-sizing: border-box;
    padding: 20px 30px;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

/* stacking fieldsets */
#signup-fs:not(:first-of-type){
    display: none;

}

#signup-fs, #signup-fs, input, textarea, select{
    padding: 15px;
    border: 1px solid #cccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 16px;


}

input:focus{
    box-shadow: 0 0 10px rgb(138, 224, 248);
    border: 5px solid rgb(132, 210, 231);
}
Previous-button, next-button{
 background-color: rgb(39, 124, 221);
 position: relative;
}